.App{
  height: 100%;
  width: 98%;
  padding: 10px;
}
.container
{
  display: flex;
  height: 50px;
  width: 100%;
  margin: 5px 5px;
  background-color: black;
}
.container2
{
  display: flex;
}
.container3{
  display: flex;
  margin-left: 20%;
  
}
.container4{
  display: flex;
  margin-left: 35%;
}
.paragraph-conatiner:hover{
  color: white;
  font-weight: bolder;
  cursor: auto;
}
.paragraph-conatiner
{
  margin-left: 25%;
}
p{
  color: wheat;
 
}
.Nav-Sarach{
  margin-top: 10px;
  height: 25px;
  border: none;
  border-radius: 20px;
  padding-left: 10px;
}
.Nav-Sarach:hover{
  width: 100px;
}


.container-flex{
  display: flex
}
.react{
  margin-left:150px;
  display: flex;
  font-size: 20px;
  
}

#react-img{
  margin-top:10px;
  width:40px;
  height:40px;
  margin-right: 10px;
}
#react-mod{
  color:#61dafb;
  margin-right: 100px;
  margin-left:10px;
}
#react-mod:hover{
  color:white;
}

.search{
  background-color:black;
  margin-top:20px;
  margin-left: 10px;
  padding: 5px;
  font-size: 15px;
  border: 1px solid black;
  color: aliceblue;
}
#react-color{
  color: black;
}
#color-p{
  color: black;
}
.Search-image{
  margin-top: 20px;
  margin-left:150px;
  display: flex;
  font-size: 20px;

}
#search-img{
  height: 30px;
  width: 30px;

}
.first-part{
  margin-left:6%;
}
#getting-start{
 font-weight: bolder;
 font-size: 50px;
 
}
#secound-getting{
  color: cadetblue;
  font-weight: 100;
  font-size: 20px;
}
#list{
 
  color: black;
  background-color: antiquewhite;
  
}
#list1{
 
  margin-top: 10px;
  margin-bottom: 10px;
}

#paragraph-gap{
  margin-bottom: 30px;
}
.take-space
{
  margin-left: 22px;
}
.half-with{
  width: 100%;
}
.second-half
{
  padding-left: 10px;
  margin-top: 80px;
  width:30%;
  height: 500px;
  background-color: antiquewhite;
}

.text-deco
{
  color: black;

}
.side-bar{
  background-color: bisque;
}